<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e40520f0-9d45-4cca-aef9-e3576a8b3fb3/resourceGroups/CloudXEntraIdRG/providers/Microsoft.Web/sites/cloudxentraapp</ResourceId>
    <ResourceGroup>CloudXEntraIdRG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://cloudxentraapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8dcfeec2-0a85-4c7e-b96a-21c9184470b1</ProjectGuid>
    <PublishUrl>https://cloudxentraapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$cloudxentraapp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>